@font-face {
    font-family: "El Messiri";
    src: url(../fonts/El-Messiri/El-Messiri-Regular.otf);
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "El Messiri";
    src: url(../fonts/El-Messiri/El-Messiri-Medium.otf);
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "El Messiri";
    src: url(../fonts/El-Messiri/El-Messiri-Semibold.otf);
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "El Messiri";
    src: url(../fonts/El-Messiri/El-Messiri-Bold.otf);
    font-weight: 700;
    font-style: normal;
  }


  #quests *,
  #quests *::before,
  #quests *::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  #quests .quests-body {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  #quests .quests-wrapper {
    height: 100%;
    /*background-color: black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #quests .quests-wrapper * {
    font-family: "El Messiri", sans-serif;
  }
  
  #quests .quests {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #quests .quests-navigation {
    width: 32.13vmin;
    height: 62.111vmin;
  }
  
  #quests .questsNavigationGroup {
    width: 100%;
    background-color: rgba(13, 20, 18, 1);
    border: 0.185vmin solid;
    -o-border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
       border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
  }
  #quests .questsNavigationGroup.active .questsNavigationGroup-header > img {
    transform: rotate(180deg);
  }
  
  #quests .questsNavigationGroup-header {
    position: relative;
    width: 100%;
    height: 5.556vmin;
    padding: 0 1.759vmin;
    display: flex;
    align-items: center;
  }
  #quests .questsNavigationGroup-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0.139vmin;
    background: content-box center/cover url(../img/quests/questsNavigationItem-header__background.svg);
    pointer-events: none;
  }
  #quests .questsNavigationGroup-header > p {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.222vmin;
    line-height: 2.593vmin;
    color: #d0d0d0;
    text-shadow: 0.185vmin 0.185vmin 0 black;
    margin-top: 0.8vmin;
  }
  #quests .questsNavigationGroup-header > * {
    pointer-events: none;
  }
  #quests .questsNavigationGroup-header > img {
    display: block;
    width: 1.296vmin;
    height: 1.389vmin;
    transition: 0.5s transform ease;
    margin-left: auto;
  }
  
  #quests .questsNavigationGroup-main__wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: height 500ms ease;
  }
  
  #quests .questsNavigationGroup-main {
    width: 100%;
    padding: 1.481vmin 1.204vmin 1.111vmin;
  }
  
  #quests .questsNavigationGroup-main__list-wrapper {
    width: 100%;
    height: 35.734vmin;
    padding: 1.204vmin;
    background: center/cover url(../img/quests/questsNavigationItem-list__background.png) no-repeat;
  }
  
  #quests .questsNavigationGroup-main__list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: 5.556vmin;
    grid-template-columns: 100%;
    grid-row-gap: 1.389vmin;
    overflow: hidden scroll;
    filter: drop-shadow(0 0 0.648vmin black);
  }
  #quests .questsNavigationGroup-main__list::-webkit-scrollbar {
    width: 0;
  }
  
  #quests .questsNavigationGroupItem {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 1.852vmin 0 1.111vmin;
    display: flex;
    align-items: center;
  }
  #quests .questsNavigationGroupItem > img {
    display: block;
    width: 2.222vmin;
    height: 2.222vmin;
    margin-left: auto;
  }
  #quests .questsNavigationGroupItem::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 0.185vmin 0 0.185vmin 0.185vmin;
    pointer-events: none;
  }
  #quests .questsNavigationGroupItem.status1 {
    background: linear-gradient(90deg, #182522, rgba(17, 27, 23, 0) 85%);
  }
  #quests .questsNavigationGroupItem.status1::before {
    -o-border-image: linear-gradient(80deg, rgba(98, 130, 108, 0.97), #5fa776, rgba(88, 108, 95, 0) 95%) 1 1;
       border-image: linear-gradient(80deg, rgba(98, 130, 108, 0.97), #5fa776, rgba(88, 108, 95, 0) 95%) 1 1;
  }
  #quests .questsNavigationGroupItem.status1 .questsNavigationGroupItem-content > p:first-child {
    color: #5fa776;
  }
  #quests .questsNavigationGroupItem.status1 .questsNavigationGroupItem-content > p:last-child {
    color: rgba(255, 255, 255, 0.4);
  }
  #quests .questsNavigationGroupItem.status1 > img {
    display: none;
  }
  #quests .questsNavigationGroupItem.status2 {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.04), rgba(17, 27, 23, 0) 85%);
  }
  #quests .questsNavigationGroupItem.status2::before {
    -o-border-image: linear-gradient(80deg, #5e584f, #cca770, rgba(103, 90, 90, 0) 95%) 1 1;
       border-image: linear-gradient(80deg, #5e584f, #cca770, rgba(103, 90, 90, 0) 95%) 1 1;
  }
  #quests .questsNavigationGroupItem.status2 .questsNavigationGroupItem-content > p:first-child {
    color: white;
  }
  #quests .questsNavigationGroupItem.status2 .questsNavigationGroupItem-content > p:last-child {
    color: rgba(255, 255, 255, 0.4);
  }
  #quests .questsNavigationGroupItem.status3::before {
    -o-border-image: linear-gradient(80deg, rgba(253, 253, 253, 0.08), rgba(255, 255, 255, 0.2), rgba(232, 230, 230, 0) 95%) 1 1;
       border-image: linear-gradient(80deg, rgba(253, 253, 253, 0.08), rgba(255, 255, 255, 0.2), rgba(232, 230, 230, 0) 95%) 1 1;
  }
  #quests .questsNavigationGroupItem.status3 .questsNavigationGroupItem-content > p:first-child {
    color: rgba(208, 208, 208, 0.4);
  }
  #quests .questsNavigationGroupItem.status3 .questsNavigationGroupItem-content > p:last-child {
    color: rgba(255, 255, 255, 0.2);
  }
  #quests .questsNavigationGroupItem.status3 > img {
    display: none;
  }
  
  #quests .questsNavigationGroupItem-content > p:first-child {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.481vmin;
    margin-bottom: -0.17vmin;
  }
  #quests .questsNavigationGroupItem-content > p:last-child {
    font-weight: 500;
    font-size: 1.296vmin;
  }
  
  #quests .questsMain-wrapper {
    position: relative;
    width: 41.759vmin;
    height: 84.907vmin;
    display: flex;
    align-items: center;
  }
  
  #quests .questsMain {
    background: #0d1412;
    box-shadow: inset 0 0.37vmin 2.778vmin rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    min-width: 38.704vmin;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  #quests .questsMain-title__wrapper {
    width: 100%;
    padding: 0 0.463vmin;
    border: 0.093vmin solid;
    -o-border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
       border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
    background: center/cover url(../img/quests/questsMain-header__background.png) no-repeat;
    box-shadow: inset 0 0.37vmin 2.778vmin rgba(0, 0, 0, 0.5);
  }
  
  #quests .questsMain-title {
    width: 100%;
    padding: 1.389vmin;
    border-style: solid;
    border-width: 0 0.093vmin;
    -o-border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
       border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
    background: linear-gradient(232.88deg, rgba(0, 31, 23, 0.39), rgba(0, 5, 4, 0.58));
  }
  #quests .questsMain-title > p {
    font-weight: 700;
    text-shadow: 0.185vmin 0.185vmin 0 black;
    font-family: "El Messiri", sans-serif;
  }
  #quests .questsMain-title > p:first-child {
    font-size: 1.481vmin;
    line-height: 2.315vmin;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 0.278vmin;
  }
  #quests .questsMain-title > p:last-child {
    font-size: 2.222vmin;
    line-height: 2.593vmin;
    color: #d0d0d0;
    text-transform: uppercase;
  }
  
  #quests .questsMain-main__wrapper {
    margin: 1.111vmin auto 1.667vmin;
    padding: 0 0.648vmin 0 0.463vmin;
  }
  
  #quests .questsMain-main {
    padding: 0.926vmin 1.667vmin 2.963vmin 1.852vmin;
    background: left 0 top 0/100% 100% url(../img/quests/questsMain-main__background.png) no-repeat;
    filter: drop-shadow(0 0.37vmin 0.37vmin rgba(0, 0, 0, 0.25));
  }
  
  #quests .questsMain-rewards {
    width: 100%;
    margin: 2.315vmin 0;
  }
  #quests .questsMain-rewards:first-child {
    margin-top: 0;
  }
  #quests .questsMain-rewards:last-child {
    margin-bottom: 0;
  }
  #quests .questsMain-rewards > p {
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 2.963vmin;
    line-height: 4.63vmin;
    text-transform: uppercase;
    background: linear-gradient(#7a7369, #eac48b, #7a6969);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0.185vmin 0.185vmin 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 0.926vmin;
  }
  
  #quests .questsMain-rewards__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 6.111vmin);
    grid-gap: 2.315vmin;
    grid-auto-rows: 6.111vmin;
  }
  
  #quests .questsMain-rewards__list-item {
    width: 100%;
    height: 100%;
    background: left 0 top 0/100% 100% url(../img/quests/questsMain-reward__background.svg) no-repeat, #0d1412;
  }
  #quests .questsMain-rewards__list-item > img {
    display: block;
    width: 100%;
    height: 100%;
  }
  #quests .questsMain-rewards__list-item > p {
    /*color: #559469;*/
    color: #e2cba6;
    text-align: center;
  }
  
  #quests .questsMain-buttons {
    /*padding-bottom: 2.593vmin;*/
    padding-bottom: 1.932vmin;
    background: left 0 bottom 0/100% 100% url(../img/quests/questsMain-buttons__border.svg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #quests .questsMain-buttons > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  #quests .questsMain-buttons__item {
    display: flex;
    align-items: center;
    margin: 0 1.296vmin;
  }
  #quests .questsMain-buttons__item:first-child {
    margin-left: 0;
  }
  #quests .questsMain-buttons__item:last-child {
    margin-right: 0;
  }
  #quests .questsMain-buttons__item > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  #quests .questsMain-buttons__item > p {
    font-family: "El Messiri";
    font-weight: 500;
    font-size: 1.481vmin;
    line-height: 2.315vmin;
    margin: 0.5vmin 0 0 0.741vmin;
  }

  #quest .questsMain-buttons__item.gray > p {
    color: #797a7a;
  }
  #quest .questsMain-buttons__item.gray .questsMain-buttons__item-main {
    border-color: #a4a5a5;
  }
  #quest .questsMain-buttons__item.gray .questsMain-buttons__item-background {
    background-color: #151c17;
  }
  #quest .questsMain-buttons__item.gray .questsMain-buttons__item-background > p {
    color: #797a7a;
  }

  #quests .questsMain-buttons__item.green > p {
    color: #559469;
  }
  #quests .questsMain-buttons__item.green .questsMain-buttons__item-main {
    border-color: #5fa776;
  }
  #quests .questsMain-buttons__item.green .questsMain-buttons__item-background {
    background-color: #151c17;
  }
  #quests .questsMain-buttons__item.green .questsMain-buttons__item-background > p {
    color: #559469;
  }
  #quests .questsMain-buttons__item.yellow > p {
    color: #e2cba6;
  }
  #quests .questsMain-buttons__item.yellow .questsMain-buttons__item-main {
    border-color: #ffd37e;
  }
  #quests .questsMain-buttons__item.yellow .questsMain-buttons__item-background {
    background-color: #1f1d19;
  }
  #quests .questsMain-buttons__item.yellow .questsMain-buttons__item-background > p {
    color: #ffd37e;
  }
  
  #quests .questsMain-buttons__item-main {
    height: 2.037vmin;
    border: 0.093vmin solid;
    padding: 0.185vmin;
    border-radius: 0.278vmin;
  }
  
  #quests .questsMain-buttons__item-background {
    height: 100%;
    border-radius: 0.093vmin;
    padding: 0 0.463vmin;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #quests .questsMain-buttons__item-background > p {
    font-weight: 700;
    font-size: 1.481vmin;
    line-height: 2.315vmin;
    margin: -0.2vh 0vh;
  }
  
  #quests .questsMain-content {
    margin: 2.315vmin 0;
    display: flex;
    align-items: stretch;
    max-height: 50.648vmin;
  }
  #quests .questsMain-content:first-child {
    margin-top: 0;
  }
  #quests .questsMain-content:last-child {
    margin-bottom: 0;
  }
  #quests .questsMain-content > * {
    flex-shrink: 0;
    flex-grow: 0;
  }
  
  #quests .questsMain-content__wrapper {
    width: 33.889vmin;
    overflow: hidden;
  }
  
  #quests .questsMain-content__text {
    width: 100%;
  }
  #quests .questsMain-content__text > p {
    font-family: "El Messiri";
    margin: 1.852vmin 0;
    width: 100%;
    font-weight: 600;
    font-size: 1.481vmin;
    line-height: 2.315vmin;
    color: white;
  }
  #quests .questsMain-content__text > p:first-child {
    margin-top: 0;
  }
  #quests .questsMain-content__text > p:last-child {
    margin-bottom: 0;
  }
  
  #quests .questsMain-content__wrapper-title {
    margin: 0.926vmin 0;
  }
  #quests .questsMain-content__wrapper-title:first-child {
    margin-top: 0;
  }
  #quests .questsMain-content__wrapper-title:last-child {
    margin-bottom: 0;
  }
  #quests .questsMain-content__wrapper-title > p {
    text-shadow: 0.185vmin 0.185vmin 0 rgba(0, 0, 0, 0.25);
    font-family: "El Messiri";
    font-weight: 700;
  }
  #quests .questsMain-content__wrapper-title > p:first-child {
    font-size: 1.481vmin;
    line-height: 2.315vmin;
    color: rgba(255, 255, 255, 0.4);
  }
  #quests .questsMain-content__wrapper-title > p:last-child {
    font-size: 2.963vmin;
    line-height: 4.63vmin;
    color: #5fa776;
    text-transform: uppercase;
  }
  
  #quests .questsMain-tasks {
    margin: 2.037vmin 0;
  }
  #quests .questsMain-tasks:first-child {
    margin-top: 0;
  }
  #quests .questsMain-tasks:last-child {
    margin-bottom: 0;
  }
  
  #quests .questsMain-tasks__item {
    margin: 1.852vmin 0;
    display: flex;
  }
  #quests .questsMain-tasks__item:first-child {
    margin-top: 0;
  }
  #quests .questsMain-tasks__item:last-child {
    margin-bottom: 0;
  }
  #quests .questsMain-tasks__item > p {
    max-width: 30.185vmin;
    font-family: "El Messiri";
    font-weight: 700;
    font-size: 1.481vmin;
    line-height: 2.315vmin;
    margin-left: 0.926vmin;
    color: #2f323a;
    margin-top: 0.463vmin;
  }
  #quests .questsMain-tasks__item > * {
    flex-shrink: 0;
    flex-grow: 0;
  }
  #quests .questsMain-tasks__item.active > p {
    color: #5fa776;
  }
  #quests .questsMain-tasks__item.active .questsMain-tasks__item-checkbox::before {
    opacity: 0;
  }
  #quests .questsMain-tasks__item.active .questsMain-tasks__item-checkbox::after {
    opacity: 1;
  }
  
  #quests .questsMain-tasks__item-checkbox {
    position: relative;
    width: 2.778vmin;
    height: 2.778vmin;
    background: center/cover url(../img/quests/questsMain-header__background.png) no-repeat;
    box-shadow: inset 0 0.37vmin 2.778vmin rgba(0, 0, 0, 0.5);
  }
  #quests .questsMain-tasks__item-checkbox::before, .questsMain-tasks__item-checkbox::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  #quests .questsMain-tasks__item-checkbox::before {
    border-style: solid;
    border-width: 0.185vmin;
    -o-border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
       border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
  }
  #quests .questsMain-tasks__item-checkbox::after {
    opacity: 0;
    background: center/contain url(../img/quests/questsMain-tasks__checkbox.svg) no-repeat;
  }
  
  #quests .questsScrollbar {
    position: relative;
    width: 1.389vmin;
    margin-left: 1.852vmin;
    padding: 0.926vmin 0.278vmin;
    display: flex;
  }
  #quests .questsScrollbar::before {
    position: relative;
    content: "";
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0.093vmin;
    -o-border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
       border-image: linear-gradient(#5e584f, #cca770, #675a5a) 1 1;
  }
  
  #quests .questsScrollbar__thumb {
    position: absolute;
    width: 100%;
    height: 11.852vmin;
    left: 0;
    top: 0;
    background: center/cover url(../img/quests/questsScrollbar-thumb.svg) no-repeat;
    transform: translateY(-50%);
  }
  
  #quests .questsMainTransition-enter-active,
  #quests .questsMainTransition-leave-active {
    transition: 0.5s opacity ease;
  }
  
  #quests .questsMainTransition-enter-from,
  #quests .questsMainTransition-leave-to {
    opacity: 0;
  }